<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Employees List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="p-3 m-2">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Employees List</span>
                <a th:href="@{/addEmployee}" class="btn btn-primary">Add Employee</a>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center mb-3">
                    <form method="get" th:action="@{employeesList}" class="row g-2 align-items-center">
                        <div class="col-auto">
                            <input type="text" name="search" class="form-control" th:value="${keyword}" placeholder="Search">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <colgroup>
                            <col style="width: 30%;">
                            <col style="width: 50%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee : ${employees}" th:onclick="'window.location.href=\'/employeeDetails?id=' + ${employee.id} + '\''" style="cursor: pointer;">
                            <td th:text="${employee.getFirstName()}"></td>
                            <td th:text="${employee.getLastName()}"></td>
                            <td th:text="${employee.getEmail()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:each="page, stat : ${pages}">
                            <a th:class="${stat.index eq currentPage ? 'page-link active' : 'page-link'}" th:text="${page}" th:href="@{employeesList(page=${stat.index}, search=${keyword})}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
