<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Human Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>
<body class="bg-gray-100">
<div layout:fragment="content" class="container mx-auto pt-12">
    <div class="flex flex-col items-center">

        <div class="bg-cover bg-center p-12 rounded-lg shadow-md mb-12 w-full max-w-4xl text-center" style="background-image: url('/img/HrBackground.png');">
            <div class="bg-black bg-opacity-50 p-8 rounded-lg">
                <h1 class="text-4xl font-bold text-white mb-4">Welcome to the HR Management App</h1>
                <p class="text-gray-200 mb-4">Streamline your HR processes and manage your workforce efficiently.</p>
                <p class="text-gray-200 mb-4">Easily manage employee data, departments, and leave requests with our comprehensive tools.</p>
            </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8 w-full max-w-4xl mb-12">
            <a th:href="@{/employeesList}" class="bg-white p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200 flex flex-col items-center h-48">
                <img src="/img/employe.png" class="w-12 h-12 mb-2" alt="Employees">
                <h4 class="text-2xl font-semibold mb-2">Employees</h4>
            </a>
            <a th:href="@{/departmentsList}" class="bg-white p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200 flex flex-col items-center h-48">
                <img src="/img/department.png" class="w-12 h-12 mb-2" alt="Departments">
                <h4 class="text-2xl font-semibold mb-2">Departments</h4>
            </a>
            <a th:href="@{/leaveRequestsList}" class="bg-white p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200 flex flex-col items-center h-48">
                <img src="/img/request.png" class="w-12 h-12 mb-2" alt="Leave Requests">
                <h4 class="text-2xl font-semibold mb-2">Leave Requests</h4>
            </a>
            <a th:href="@{/positionsList}" class="bg-white p-6 rounded-lg shadow-md transition duration-300 hover:bg-gray-200 flex flex-col items-center h-48">
                <img src="/img/position.png" class="w-12 h-12 mb-2" alt="Positions">
                <h4 class="text-2xl font-semibold mb-2">Positions</h4>
            </a>
        </div>


        <div id="about" class="bg-white p-8 rounded-lg shadow-md mb-12 w-full max-w-4xl">
            <div class="flex flex-col md:flex-row">
                <div class="md:w-1/2 mb-4 md:mb-0">
                    <img src="/img/icon.png" alt="About Image" class="rounded-lg w-full h-64 object-cover">
                </div>
                <div class="md:w-1/2 md:pl-8">
                    <h2 class="text-3xl font-semibold mb-4">About</h2>
                    <p class="text-gray-700">We aim to support HR professionals in making data-driven decisions that benefit both the company and its employees.</p><br>
                    <p class="text-gray-700 mb-4">We are dedicated to revolutionizing the way businesses manage their human resources. Our comprehensive HR application is designed to streamline HR processes, enhance employee engagement, and drive organizational efficiency.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
